---
// components
import Section from "../elements/Section.astro";
import ProjectCard from "../elements/ProjectCard.astro";

// content collection
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
const featuredProjects = projects
  .filter((project) => project.data.isFeatured === true)
  .sort(
    (a, b) =>
      b.data.year - a.data.year && b.data.title.localeCompare(a.data.title),
  );
---

<Section
  aria-label="Featured Projects"
  title="Featured Projects"
  titleHeading="Featured prior work that I have done"
>
  {
    featuredProjects.map((project) => (
      <ProjectCard
        title={project.data.title}
        year={project.data.year}
        git={project.data.git}
        website={project.data.liveSite}
        playStore={project.data.playStore}
        appStore={project.data.appStore}
        fdroid={project.data.fdroid}
        apk={project.data.apk}
        description={project.data.description}
        tools={project.data.tools}
      />
    ))
  }
</Section>
